# Vivado / XSim Simulationsartefakte
sim_cli/
xsim.dir/
*.wdb
*.pb
*.jou
*.log
xsim_*.backup.*

# GHDL Artefakte
*.o
*.cf
work-obj*.cf

# Kompilierte Testbench-Binaries
armregaddresstranslation_tb
e~*.o

# Vivado Projekt-Caches (falls jemand lokal anlegt)
vivado_blatt5/
vivado_blatt5_*.tcl
build_piso/
build_rs232/
*.bit
.Xil/
*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.sim/

# OS / Editor
.DS_Store
*.swp
*~
